// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  #root, #root>div {
    height: 100%;

    .container {
      height: 90%;
      &>.row {
        height: 100%;

        &>div {
          max-height: 100%;
        }
      }

      .accourdion {
        max-height: 90%;
      }
    }
  }
}
